<section class="container" layout="row" layout-sm="column">
  <div layout="column" flex="40" offset="30">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>Connect</h1>
      </div>
    </md-toolbar>
    <md-content class="md-padding md-whiteframe-z1">
      <md-input-container flex>
        <label>Username</label>
        <input placeholder="Please insert your username">
      </md-input-container>
      <section layout="row" layout-sm="column" layout-align="end center">
        <md-button class="md-raised md-warn">Clear</md-button>
        <md-button class="md-raised md-primary">Connect</md-button>
      </section>
    </md-content>
  </div>
</section>
